/*The following styles all apply to the field position breakdown page.*/

/*Formats the header stating the current yard line*/
.yard_line_header {
  text-align: center;
  font-size: 44 px;
}

/*Formats the table used to display different play type results*/
table#fp_stats {
  width: 100%;
  border: 1px solid black;
}

table#fp_stats th {
  padding: 15px;
  font-size: 24px;
}

table#fp_stats td {
  padding: 10px;
  text-align: center;
}

/*Formats the text in the table cells*/
.stat {
  font-size: 18px;
}

/*The following all format the slider that allows for yard line selection*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  direction: rtl
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}