<!-- Load in all of the static files from .static -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Field Breakdown</title>
    {{ script | safe }}
  </head>

<!-- Import in the style sheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" >

  <body>
    <!-- Create header and description of page -->
    <h3>Statistics by field zone</h3>
    <p>Hover over different areas of the football field below to observe how many instances of the selected statistic occured on plays started from within each ten yard interval.</p>


    <!-- Creates tabs that allow user to navigate between different statistic type -->
    <div class="tab">
      <div class="nav nav-tabs" id="field_tabs">
        <button id="field_passing_button" onclick="document.getElementById('field_passing').click();"><a id="field_passing" class="tablinks" href="#field_stats" data-url="{% url 'field_breakdown_passing' team_id %}">Passing</a></button>
        <button id="field_rushing_button" onclick="document.getElementById('field_rushing').click();"><a id="field_rushing" class="tablinks" href="#field_stats" data-url="{% url 'field_breakdown_rushing' team_id %}">Rushing</a></button>    
      </div>
    </div>

    <!-- Sends the chosen tab to the page -->
    <div class="tab-content">
      <div class="tab-pane active" id="field_stats"></div>
    </div>  


    <!-- Create a div to hold the svg -->
    <div id="field_svg_div" class="svgs">
      <script type="text/javascript">

        // Create the svg variable with the given height and width
        var height = 600
        var width = 1200
        var svg = d3.select("#field_svg_div").append("svg").attr("height",height).attr("width",width).attr("id","field_svg");

        // Create a varibale pop_up which will hold the text that pops up when field sections are hovered over
        // Takes style from class hover_text.
        var pop_up = d3.select("#field_svg_div").append("div")
          .attr("class", "hover_text").attr("id","field_breakdown_pop_up")      
          .style("opacity", 0); 

        // Retrieve the team_logo variable from views.py
        var team_logo = JSON.parse('{{ team_logo | safe }}')[0]  

        // Create an array containing both the football field png and the logo png along with necessary coordinates
        // to place them on the field. Makes it easier to lay the logo on top of the field when we attach the images to the svg.
        var images = [{"image": "{% static 'football_field_reshaped2.png' %}", "x": "100", "y": "-270", "width": "1000", "height": "1100"},
                      {"image": team_logo, "x": "551", "y": "145", "width": "100", "height": "200"}]
        
        // Attach both the field and logo images to the svg
        var imgs = svg.selectAll("image").data(images).enter().append("svg:image")
                      .attr("xlink:href", function(d){ return d.image})
                      .attr("x", function(d){ return d.x})
                      .attr("y", function(d){ return d.y})
                      .attr("width", function(d){ return d.width})
                      .attr("height", function(d){ return d.height});
      </script>

    </div>

    <!-- Import the field_tabs function to display the page of the selected statistic -->
    <script type="text/javascript" src="{% static 'field_tabs.js' %}"></script> 

    <!-- When the page is first loaded, select field_breakdown to show the passing statistics -->
    <script type="text/javascript">document.getElementById("field_passing_button").click();</script>

  </body>

</html>
