<!-- Load in all of the static files from .static -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
     <title>Field Position Breakdown</title>
    {{ script | safe }}
  </head>

<!-- Import in the style sheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" >
<!-- Import in the style sheet specific to fp_breakdown -->
  <link rel="stylesheet" href="{% static 'css/fp_breakdown_style.css' %}" type="text/css" >  

  <body>
    <!-- Create header and description of page -->
    <h3>Statistics by yard line</h3>
    <p>Use the slider below to move along the field and observe statistics on plays started from the chosen yard line.</p>    

  <!-- Creates tabs that allow user to navigate between different statistic type -->
    <div class="tab">
      <div class="nav nav-tabs" id="field_tabs">
        <button id="fp_passing_button" onclick="document.getElementById('fp_passing').click();"><a id="fp_passing" class="tablinks" href="#fp_stats" data-url="{% url 'fp_bkdwn_passing' team_id %}">Passing</a></button>
      </div>
    </div>


    <!-- Create the selection options. Only checkboxes to select years so we can have this section at this level
    versus the lower children level like in the fiel_breakdown.html file -->
    <div class="stat_toggle">

      <small style="color:Black; font-size:20px;">Use these options to select years of data to display</small>  
      <br>

      <div class="myCheckboxText">
        <input type="checkbox" class="myCheckbox" value="2010" checked> 2010 
        <input type="checkbox" class="myCheckbox" value="2011" checked> 2011
        <input type="checkbox" class="myCheckbox" value="2012" checked> 2012 
        <input type="checkbox" class="myCheckbox" value="2013" checked> 2013
        <input type="checkbox" class="myCheckbox" value="2014" checked> 2014
        <input type="checkbox" class="myCheckbox" value="2015" checked> 2015
        <input type="checkbox" class="myCheckbox" value="2016" checked> 2016
        <input type="checkbox" class="myCheckbox" value="2017" checked> 2017
      </div>

    </div> 

    <!-- Create a div to hold the svg -->
    <div id="fp_svg_div" class="svgs">
      <script type="text/javascript">
        // Create the svg variable with the given height and width
        var height = 600
        var width = 1200
        var svg = d3.select("#fp_svg_div").append("svg").attr("height",height).attr("width",width).attr("id","fp_svg");


        // Create an array containing both the football field png and the logo png along with necessary coordinates
        // to place them on the field. Makes it easier to lay the logo on top of the field when we attach the images to the svg.
        var images = [{"image": "{% static 'football_field_reshaped2.png' %}", "x": "100", "y": "-270", "width": "1000", "height": "1100"},
                      {"image": team_logo, "x": "551", "y": "145", "width": "100", "height": "200"}]
        
        // Attach both the field and logo images to the svg
        var imgs = svg.selectAll("image").data(images).enter().append("svg:image")
                      .attr("xlink:href", function(d){ return d.image})
                      .attr("x", function(d){ return d.x})
                      .attr("y", function(d){ return d.y})
                      .attr("width", function(d){ return d.width})
                      .attr("height", function(d){ return d.height});
      </script>
    </div>

    <!-- Sends the chosen tab to the page -->
    <div class="tab-content">
      <div class="tab-pane active" id="fp_stats"></div>
    </div>   

    <!-- Import the field_tabs function to display the page of the selected statistic -->
    <script type="text/javascript" src="{% static 'field_tabs.js' %}"></script> 

    <!-- When the page is first loaded, select field_breakdown to show the passing statistics -->
    <script type="text/javascript">document.getElementById("fp_passing_button").click();</script>

  </body>
  
</html>    