{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Sports50</title>
    {{ script | safe }}
  </head>

  <!-- Import in the style sheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" >
  <!-- Import the style sheet for the team dropdown -->
  <link rel="stylesheet" href="{% static 'css/dropdown.css' %}" type="text/css" >

  <!-- Import d3 and topojson d3 which are used to create svg graphics and convert geojson data into topojson data
  which allows for the creation of maps -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>

  <!-- Import the jquery.js script to allow us to use jquery when needed -->
  <script type="text/javascript" src="{% static 'jquery-3.4.1.js' %}"></script>

  <!-- adding unique fonts -->
  <link href="http://fonts.googleapis.com/css?family=Righteous" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">  

  <body>

    <!-- Create a header that acts as url back to home page -->
    <h1><a href="{% url 'home' %}" style="text-decoration: none; color: black">Sports 50</a></h1>

    <h2>
    	<!-- Create the dropdown menu, using a for loop over each team in the team model-->
    	<div class="dropdown">
    	  <button onclick="myFunction()" class="dropbtn">Select a Team</button>
    	  <div id="myDropdown" class="dropdown-content">
    		{% for team in teams %}
    			<a href="{% url 'team_info' team.id %}">{{team.full_name}}</a>
    		{% endfor %}    
    	  </div>
    	</div>
      Team specific stats for the {{this_team.0.full_name}}. Navigate to other teams using the dropdown to the left.
    </h2>

    <!-- Create tabs that can be used to navigate between the various graphics -->
    <div class="tab">
    	<div class="nav nav-tabs" id="myTabs">
        <button id="field_button" onclick="document.getElementById('field').click();"><a id="field" class="tablinks" href="#stats" data-url="{% url 'field_breakdown' this_team.0.id %}">Field Breakdown</a></button>
        <button id="map_button" onclick="document.getElementById('map').click();"><a id="map" class="tablinks" href="#stats" data-url="{% url 'stadium_map' this_team.0.id %}">Stadium Map</a></button>
        <button id="zones_button" onclick="document.getElementById('zones').click();"><a id="zones" class="tablinks" href="#stats" data-url="{% url 'passing_zones' this_team.0.id %}">Passing Zones</a></button> 
        <button id="fp_button" onclick="document.getElementById('fp').click();"><a id="fp" class="tablinks" href="#stats" data-url="{% url 'fp_bkdwn' this_team.0.id %}">Field Position Breakdown</a></button>             
      </div>
    </div>

    <!-- Create div to display the selected graphic -->
    <div class="tab-content">
      <div class="tab-pane active" id="stats"></div>
    </div>

    <!-- Load graphic_tabs.js which allows navigation between graphics -->
    <script type="text/javascript" src="{% static 'graphic_tabs.js' %}"></script>

  </body>
  
</html>